@import 'client/scss/variables';
@import 'packages/bootstrap3-sass/bootstrap';

body {
  margin-top:50px;
}

.ss-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  border-bottom: 2px solid $brand-primary;
}

.product-cell {
  width: 200px;
  height: 270px;
  display: inline-block;
  vertical-align: top;
}

.product-cell img {
  display: block;
  margin: 0 auto;
}

.product-cell .image {
  height: 205px;
  padding-bottom: 10px;
}

.load-more {
  display: block;
  margin: 40px 0;
  text-align: center;
}

#search-results {
  padding-top: 40px;
  margin-left: 240px;
}

#filters {
  border-right: 2px solid $brand-primary;
  position: fixed;
  left: 0;
  background: white;
  opacity: .8;
}

.filter-title {
  border-bottom: 2px solid $brand-primary;
  width: 200px;
  margin: 10px;
}

.filter-contents {
  @extend .filter-title;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  display: inline-block;
  display: none;
}
