@import 'client/scss/variables';
@import 'packages/bootstrap3-sass/bootstrap';

body {
  margin-top:50px;
}

.product-cell {
  width: 220px;
  height: 290px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;

  img {
    display: block;
    margin: 0 auto;
  }

  .image {
    height: 205px;
    padding-bottom: 10px;
  }
}

.product-title {
  color: $gray-dark;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  &.brand {
    font-weight: bold;
  }

  &.title {
    font-style: italic;
  }
}

.product-page {
  .product-title {
    &.brand {
      font-size: 20px;
    }

    &.title {
      font-size: 16px;
    }
  }
}

.product-description {
  margin-top: 20px;
}

.product-page {
  margin-top: 40px;
}

.related-products {
  .section-title {
    width: 100%;
    font-size: 20px;
    margin: 60px 0;
    text-align: center;
    font-style: italic;
  }
}

.product-price {
  display: inline-block;
  padding-right: 5px;

  &.sale {
    color: $brand-primary;
    font-weight: bold;
  }

  &.no-sale {
    color: $gray;
    text-decoration: line-through;
  }
}

.load-more {
  display: block;
  margin: 40px 0;
  text-align: center;
}

#search-results {
  padding-top: 40px;
}

#filters {
  width: 100%;
  margin-top: 20px;
}

.filter-title {
  background: $gray-lightest;
  border-bottom: 2px solid darken($gray-lightest, 10%);
  padding: 10px;
  color: $gray-dark;
}

.filter-contents {
  @extend .filter-title;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  display: inline-block;
  display: none;
}


@import 'client/scss/header';
